
.faq-block__item {
    background-color: #161618;
    padding: 15px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.faq-block__item h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 5px;
}

.faq-block__item p {
    text-align: center;
    padding: 10px;
}

/* Media requests */
@media screen and (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .play-to-earn-section iframe {
        height: 400px;
    }
}

@media (max-width: 576px) {
    .play-to-earn-section iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .button.button-outline-white::before {
        top: 15px !important;
    }
}